.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled{
  color: #cccccc;
  cursor: not-allowed;
}